fastapi
uvicorn
sqlalchemy
asyncpg
passlib[bcrypt]
alembic
python-dotenv
pydantic[email]
python-multipart
aiofiles
pytest
fastapi-async-sqlalchemy
aioredis
pyjwt[crypto]
pytest-asyncio
httpx
fastapi-babel
python-slugify
factory-boy
minio
Pillow
pyotp
gunicorn
psycopg2-binary
python-jose